.button {
  margin: 10px;
  text-decoration: none;
  color: white;;
  padding: 5px;
  background: rgba(0,0,0,.5);
  transition-property: background, border, color;
  transition-duration: .4s;
}

.button:hover {
  background: black;
}

.active {
  padding: 5px;
  background: white;
  color: black;
}

.active:hover {
  background: white;
  color: black;
}

.tab {
  margin: 8px 0;
  font-size: 15px;
}

.tab.active {
  background: white;
  padding: 5px;
}

.left {
  margin-right: 0;
  border-radius: 10px  0 0 10px;
}

.right {
  margin-left: 0;
  border-radius: 0 10px 10px 0;
}

.middle {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

.small {
  font-size: 13px;
  padding: 3.5px;
}
@media screen and (max-width: 992px) {
  .button {
    margin: 5px;
    font-size: 10px;
    padding: 5px;
    width: 16vw;
  }

  a {
    height: auto;
    width: auto;
  }
}
