.cell {
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-position: center;
  background: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  animation-duration: 1s;
  animation-name: enter;
  transition:max-height 1s;
  height: 100vh;
}

.cell-inner {
  width: auto;
  height: 100%;
  background: rgba(0,0,0,.6);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  box-shadow: inset 0 0 100px black;
}

.cell-innerer {
  padding: 0px 75px 38px 75px;
  text-align: left;
  width: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  transition:max-height 1s;
  height: 100%;
  font-size: 1.1vw;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cell.Trailer {
  max-height: 945px;
}

.trailer {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes tab-enter {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.details {
  width: 30%;
  height: 358px;
  position: relative;
  margin-left: 5px;
}

.cell-top {
  display: flex;
  width: 100%;
  position: relative;
  height: 45%;
  overflow: hidden;
}

.cell-bottom {
  display: flex;
  width: 100%;
  height: 45%;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}
.cell-left {
  display: flex;
  flex-direction: row;
  flex: 1 1 0pt;
}
.cell-middle {
  display: flex;
  flex-direction: row;
  flex: 1 1 0pt;
  justify-content: center;
}
.cell-right {
  display: flex;
  flex-direction: column;
  flex: 1 1 0pt;
  overflow: hidden;
  max-height: 450px;
}

img {
  max-height: 450px;
  border-radius: 9px;
	max-width: 300px;
	object-fit: cover;
}

.title {
  font-size: 3vw;
  font-weight: 900;
  text-align: center;
  background: none;
  display: flex;
  justify-content: center;
  width: 100%;
  outline: none !important;
  height: 10%;
  margin: 0;
  padding: 0;
  padding-top: 1%;
}

.score {
  text-align: center;
  border-radius: 50px;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9vw;
}

.ten {
  font-size: 2vw;
}

.must {
  position: absolute;
  max-height: 200px;
  width: 20vw;
  z-index: 998;
  border: none;
}

.pull-forward {
  z-index: 999;
}

p {
	margin: 0;
}

.description-heading {
	margin: 8px;
	font-weight: 800;
}

a {
	margin:auto;
	width: 100px;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
}

.tab-selector {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

iframe {
	margin: auto;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: tab-enter;
}

.synopsis, .review {
  animation-duration: .5s;
  animation-name: tab-enter;
  animation-timing-function: ease-out;
}

.tab-content {
  overflow: hidden;
  display: flex;
}

.omdb {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.loadScore {
  font-size: 12px;
  padding: 0;
  background: none;
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .cell {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    max-height: 2000px;
  }

  .cell.Trailer {
    max-height: 2245px;
  }

  iframe {
    width: 100vw;
  }

  .cell-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 60%;
  }

  .title {
    height: 5%;
  }

  .cell-bottom {
    height: 30%;
  }

  .cell-left {
    min-width: 50vw;
  }
  .cell-middle {
    min-width: 10vw;
  }
  .cell-right {
    min-width: 50vw;
  }

  .details {
    padding-left: 0;
    padding-right: 0;
    height: fit-content;
    border-radius: 0;
  }

  img {
    width: 30vw;
  }

  .score {
    margin: auto;
    left: 0;
    position: relative;
    height: auto;
  }

  .cell-innerer{
    padding: 16px 16px 0 16px;
    font-size: 2vw;
  }

  .trailer {
    display: none;
  }

}
