.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box input {
  padding: 0 10px !important;
  border: none;
  background: rgba(0,0,0,.5);
  z-index: 1;
  width: 80px;
  height: 35px;
  transition: all .25s ease-in .25s;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  border-radius: 10px;
  text-align: center;
}

.search-box input::placeholder{
  opacity: 1;
  transition: all .25s ease-in .25s;
}

.search-box input:hover::placeholder {
  cursor: pointer;
  opacity: .5;
  background: black;
}

.search-box input:hover:focus::placeholder {
  cursor: text;
  opacity: 0;
}

.search-box input:hover {
}

.search-box input:focus {
  padding: 0 10px;
  outline: none;
  color: black;
}

.search-box input:focus::placeholder {
  opacity: 0;
  padding: 0 10px;
  outline: none;
}

.active {
}

@media screen and (max-width: 992px) {
  .search-box input {
    margin-top: 16px;
  }
}
