.search-box input {
  padding: 0 10px !important;
  border: none;
  background: #baffc9;
  z-index: 1;
  width: 100px;
  height: 35px;
  transition: all .25s ease-in .25s;
  color: #7e685a;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  border-radius: 10px;
  text-align: center;
}

.search-box input::placeholder{
  color: #7e685a;
  opacity: 1;
  transition: all .25s ease-in .25s;
}

.search-box input:hover::placeholder {
  cursor: pointer;
  opacity: .5;
}

.search-box input:hover:focus::placeholder {
  cursor: text;
  opacity: 0;
}

.search-box input:hover {
  background: #ffffba;
}

.search-box input:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: #7e685a;
  background: #ffffba;
  color: #7e685a;
}

.search-box input:focus::placeholder {
  opacity: 0;
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: #7e685a;
  background: #ffffba;
  color: #7e685a;
}

.active {
  background: #ffffba;
}

@media screen and (max-width: 992px) {
  .search-box input {
    margin-top: 16px;
  }
}
