.user-rating {
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 161px;
}

.user-reviews {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
}

.user-reviews-score {
  font-weight: 700;
  margin-right: 4px;
}

.rating-input {
  width: 98%;
  height: 4em;
  border: none;
  color: white;
  font-family: 'Sunflower', sans-serif;
  padding: 5px;
}

select {
  background: rgba(0,0,0,.3);
  border: none;
  color: white;
  font-family: 'Sunflower', sans-serif;
  padding: 2px;
  font-size: 13px;
  font-weight: 700;
}

.error {
  border: solid 5px red;
}

textarea {
  background: rgba(0,0,0,.3);
}

.rating {
  background: rgba(0,0,0,.3);
  color: white;
  border: none;
  border-radius: unset;
}
